body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://pngimg.com/uploads/pokeball/pokeball_PNG8.png");
  background-color: #aaaaaa;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  #height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.pokemon-name {
  text-align: center;
  align: center;
  background: rgba(100, 0, 0, 0.3);
  max-width: 300px;
  margin: auto;
}

.hide-pokemon {
  filter: contrast(0%);
  /*   image-resolution: 1dppx; */
  /*   image-rendering: pixelated(20%); */
}

#pokemon-artwork {
  text-align: center;
  padding: 30px;
}

#form {
  margin: auto;
  text-align: center;
}

.sprite {
  height: 20px;
  padding: 2px;
  /*   image-rendering: pixelated; */
  /*   filter: drop-shadow(0 0 2px black); */
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}
